# icestorm build files
*.blif
*.bin
*.asc

# OS junk files
[Tt]humbs.db
*.DS_Store
*~

# Compiled objects
*.o
*.pyc
*.exe
*.hex
*.elf
*.bin

# Swapfiles
*.swp

# image and figure files
*.eps
*.png
*.fig
*.jpg
*.jpeg
*.gif
*.pdf

# video files
*.avi
*.mov
*.mp4

# matlab storage files
*.mat
